<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .move{
            margin-top: 10px;
        }
        .bolded{
            font-weight: bold;
        }
        .normaled{
            font-weight: normal!important;
        }
    </style>

</head>
<body>

    @if (TempData["Sucess"] != null)
    {
        <div class="alert alert-success text-center">
            <a href="#" class="alert-link normaled"><span class="bolded">@TempData["Naziv"]</span> Uspjesno ste se registrirali na seminar <span class="bolded">@TempData["Sucess"]</span>!</a>
        </div>
    }
    @if (TempData["Seminar"] != null)
    {
        <div class="alert alert-success text-center">
            <a href="#" class="alert-link normaled"> Uspjesno ste se kreirali seminar <span class="bolded">@TempData["Seminar"]</span>!</a>
        </div>
    }
    @if (TempData["Delete"] != null)
    {
        <div class="alert alert-danger text-center">
            <a href="#" class="alert-link normaled"> Uspjesno ste obrisali seminar <span class="bolded">@TempData["Delete"]</span>!</a>
        </div>
    }
    @if (TempData["Edit"] != null)
    {
        <div class="alert alert-warning text-center">
            <a href="#" class="alert-link normaled"> Uspjesno ste editirali seminar <span class="bolded">@TempData["Edit"]</span>!</a>
        </div>
    }
    @if (TempData["StatusCode"] != null)
    {
        <div class="alert alert-danger text-center">
            <a href="#" class="alert-link normaled"><span class="bolded">@TempData["StatusCode"]</span>!</a>
        </div>
    }

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Upisi", "Index", "Upisi")</li>
                    <li>@Html.ActionLink("Seminari", "Index", "Seminari")</li>
                    <li>@Html.ActionLink("Predbiljezbe", "Index", "Predbiljezbe")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content move">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>MVC Algebra Seminar © <a href="https://github.com/Krelex">Filip Cogelja</a> - @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
