@model IEnumerable<SeminarMVC.Models.Seminar>

@{
    ViewBag.Title = "Upis";

    string all = "";
    string active = "";
    string nonactive = "";

    if (ViewBag.Active == "all")
    {
        all = "active";

    }
    else if (ViewBag.Active == "active")
    {
        active = "active";
    }
    else if (ViewBag.Active == "nonactive")
    {
        nonactive = "active";
    }
}

<h4 class="text-center">Popis seminara.</h4>
<hr />
<div class="btn-group btn-group-justified" role="group">
    <a class="btn btn-default @all" href="~/Upisi/Index">All</a>
    <a class="btn btn-default @active" href="~/Upisi/index?active=1">Full</a>
    <a class="btn btn-default @nonactive" href="~/Upisi/index?active=0">Empty</a>
</div>
<hr />

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <td class="text-center">
                Akcija
            </td>
            <td>Naziv</td>
            <td>Opis</td>
            <td class="text-center">Datum</td>
            <td class="text-center">Broj slobodnih mjesta</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var seminar in Model)
        {
            <tr>
                <td class="text-center">
                    <a href="~/Upisi/Korisnika/@seminar.IdSeminar?name=@seminar.Naziv" class="btn btn-success">
                        Upisi
                    </a>
                </td>
                <td>
                    @seminar.Naziv
                </td>
                <td>
                    @seminar.Opis
                </td>
                <td class="text-center">
                    @seminar.Datum.ToShortDateString()
                </td>
                <td class="text-center">
                    @seminar.Broj() / 5
                </td>
            </tr>
        }
    </tbody>
</table>

