@model IEnumerable<SeminarMVC.Models.Seminar>

    @{
        ViewBag.Title = "Index";
        string check = "";
        string color = ""; 
    }

    <h4 class="text-center">Rezultati pretrage : "<span style="color: red">@ViewBag.Search</span>"</h4>
    <hr />
    <div class="text-center">
         <a style="" class="btn btn-success btn" href="~/Seminari/Create">Novi Seminar</a> 
    </div>
    <hr />

    <table class="table table-bordered">
        <thead>
            <tr>
                <td class="text-center">Akcija</td>
                <td>Naziv</td>
                <td>Opis</td>
                <td>Datum</td>
                <td>Popunjen</td>
                <td class="text-center">Broj Polaznika</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var seminar in Model)
            {
                if (seminar.Popunjen == true)
                { color = "#f9f9f9"; }
                else { color = ""; }

                <tr style= "background-color : @color">
                    <td class="text-center">
                        <div class="btn-group" role="group">
                            <a href="~/Seminari/Edit/@seminar.IdSeminar" class="btn btn-warning">
                                Uredi
                            </a>
                            <a href="~/Seminari/Delete/@seminar.IdSeminar?naziv=@seminar.Naziv" class="btn btn-danger obrisi"> Obriši</a>
                        </div>
                    </td>
                    <td>
                        @seminar.Naziv
                    </td>
                    <td>
                        @seminar.Opis
                    </td>
                    <td>
                        @seminar.Datum.ToShortDateString()
                    </td>
                    <td class="text-center">
                        @if (seminar.Popunjen == true)
                        { check = "checked";  }
                        else { check = ""; }
                        <input type="checkbox" name="Popunjen" value="@seminar.Popunjen" disabled @check  />
                    </td>
                    <td class="text-center">
                        @seminar.Broj()
                    </td>
                </tr>
            }
        </tbody>
    </table>

<script>
    var element = document.querySelectorAll('.obrisi');

    var confirmIt = function (e) {
        if (!confirm('Dali ste sigurni da zelite obrisati seminar?')) { e.preventDefault(); }
    };

    for (var i = 0; i < element.length; i++)
    {element[i].addEventListener('click', confirmIt , false) }
</script>
