@model IEnumerable<SeminarMVC.Models.Predbiljezba>
@{
    ViewBag.Title = "Index";
    var check ="";
    string all ="";
    string active= "";
    string nonactive ="";

    if(ViewBag.Active == "all")
    {
        all = "active";

    }else if(ViewBag.Active == "active")
    {
        active = "active";
    }
    else if(ViewBag.Active == "nonactive")
    {
        nonactive = "active";
    }

   }

<div class="row">
    <div class="col-md-3 col-sm-4">
        @using (Html.BeginForm("Search", "Predbiljezbe", FormMethod.Get))
        {
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">Pretraži :</button>
                </span>
                <input type="text" name="Key" class="form-control" placeholder="Pretraži email...">
            </div>
        }
    </div>
    <div class="col-md-3 col-md-offset-2 col-sm-3 col-sm-offset-1">
        <h4 class="text-left ">Popis predbilježbi.</h4>
    </div>
    @if (ViewBag.Key != null)
    {
        <div>
            <h5 class="text-center">Rezultati pretrage:"<span style="color: red">@ViewBag.Key</span>"</h5>
        </div>
    }
</div>
<hr />
<div class="btn-group btn-group-justified" role="group" >
    <a class="btn btn-default @all" href="~/Predbiljezbe/Index" >All</a>
    <a class="btn btn-default @active" href="~/Predbiljezbe/index?active=1">Active</a>
    <a class="btn btn-default @nonactive" href="~/Predbiljezbe/index?active=0">Non Acitve</a>
</div>
<hr />

<table class="table table-bordered">
    <thead>
        <tr>
            <td class="text-center">Action</td>
            <td>Seminar</td>
            <td>Ime</td>
            <td>Prezime</td>
            <td class="text-center">Datum</td>
            <td>Adresa</td>
            <td>Email</td>
            <td>Telefon</td>
            <td class="text-center">Status</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
            <tr>
                <td class="text-center">
                    <a href="~/Predbiljezbe/edit/@item.IdPredbiljezba" class="btn btn-warning">Uredi</a>
                </td>
                <td>
                    @item.Seminar.Naziv
                </td>
                <td>
                    @item.Ime
                </td>
                <td>
                    @item.Prezime
                </td>
                <td class="text-center">
                    @item.Datum.ToShortDateString()
                </td>
                <td>
                    @item.Adresa
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @item.Telefon
                </td>
                <td class="text-center">
                    @if (item.Active == true)
                    { check = "checked"; }
                    else { check = ""; }
                    <input type="checkbox" name="Popunjen"  disabled @check />
                </td>
            </tr>
        }
    </tbody>
</table>